.header {
	min-height: 768px;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	@include breakpoint(max-width 576px) {
		height: 830px;
	}

	@include breakpoint(max-width 420px) {
		height: 900px;
	}

	@include breakpoint(max-width 320px) {
		height: 1050px;
	}

	
	.header__logo {
		box-shadow: -25px 25px 50px #303030;
		padding: 0;
		max-width: 125px;
	}

	.zindex {
			z-index: 12 !important;
		}

	.header__nav-menu {

		#nav-icon1 {
		width: 45px;
		height: 40px;
		position: relative;
		margin: 15px auto;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;

		@include breakpoint(max-width 500px) {
			left: 10vw;
		}

		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: #fafafa;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
				&:nth-of-type(1) {
					top: 0px;
				}

				&:nth-of-type(2) {
					top: 15px;
				}

				&:nth-of-type(3) {
					top: 30px;
				}
			}	

		&.open {
			span:nth-of-type(1) {
				top: 18px;
				transform: rotate(135deg);
			}
		}
			

		&.open {
			span:nth-of-type(2) {
				opacity: 0;
				left: -60px;
			}
		}

		&.open {
			span:nth-of-type(3) {
				top: 18px;
				transform: rotate(-135deg);
			}
		}

		@include breakpoint(min-width 576px) {
			display: none;
			}
		}

		.header__nav {
			opacity: 1;
			
			@include breakpoint(max-width 576px) {
				width: 100vw;
				height: calc(100vh - 125px);
				position: relative;
				top: 30px;
				left: 0;
				display: flex;
				visibility: hidden;
				transition: all 0.5s;

				a {
					width: 100vw;
					padding: 20px 0;
					align-self: center;
					font-size: 1.5rem;
					text-align: center;
				}
			}

			@include breakpoint(max-width 400px) {
				width: 100vw;
			}
		}

		.expand {
			background-color: rgba(86,83,76,0.9);
			transition: all 0.5s;
			visibility: visible;
			overflow-y: hidden;
		}

		.opacity0.3 {
			opacity: 0.3;
		}

		@include breakpoint(max-width 1000px) {
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
		}

		@include breakpoint(max-width 768px) {
			flex: 0 0 75%;
			max-width: 75%;
		}

		@include breakpoint(max-width 576px) {
			position: absolute;
			top: 30px;
			flex: 0 0 100%;
			max-width: 100vw;
			z-index: 2;
		}
	}


	
	
	.header__solutions {
		height: calc(768px - 130px);
		position: relative;
		z-index: 10;

		.header__phone {
			background-image: url(../img/hand.png);
			background-repeat: no-repeat;
			background-position-y: bottom;

			@include breakpoint(max-width 1200px) {
				display: none;
			}
		}

		h1 {
			margin: 70px 0 10px;
			font-family: 'Gilroy-Black', sans-serif;
			font-size: 50px;
			text-transform: uppercase;
			line-height: 60px;
			color: white;

			@include breakpoint(max-width 576px) {
				font-size: 2.5rem;
			}

			span {
				font-family: 'Gilroy-Medium', sans-serif;
			}	
		}

		p {
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 40px;
			color: white;
			@include breakpoint(max-width 576px) {
				font-size: 1.5rem;
			}
		}

		.header__buttons {

			a {
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: 3px;
				color: white;

				@include breakpoint(max-width 340px) {
					font-size: 14px;
				}
			}
			
			.header__watch-video {
				display: flex;
				align-items: center;
				max-width: 330px;

				@include breakpoint(max-width 992px) {
					margin-left: auto;
					margin-right: auto;
				}

				a {
					white-space: nowrap;
					padding: 16px 30px 15px;
					border: 1px solid white;
					border-radius: 50px;
					&:hover, &:active, &:focus {
						text-decoration: underline;
					}

					@include breakpoint(max-width 340px) {
						padding: 16px 10px 15px;
					}
				}

				img {
					margin-right: 10px;
					position: relative;
					bottom: 2px;
				}


			}

			.header__sign-up {
				@include breakpoint(max-width 992px) {
					text-align: center;
				}

				@include breakpoint(max-width 768px) {
					margin-top: 50px;
				}

				a {
					white-space: nowrap;
					padding: 19px 52px 18px 53px;
					background-color: white;
					border: 1px solid white;
					border-radius: 50px;
					font-family: 'Gilroy-Extrabold', serif;
					color: #30333d;
					transition: all 200ms ease-in-out;

					&:hover, &:active, &:focus {
						background-color: transparent;
						color: white;
						transition: all 200ms ease-in-out;
					}
				}
	
			}
		}

	}

	.header__social {
		position: absolute;
		bottom: -35px;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;

		a {
			width: 81px;
			height: 81px;
			color: white;
		}

		@include breakpoint(max-width 576px) {
			width: 81px;
			height: 81px;
			bottom: -100px;
			flex-wrap: nowrap;
		}

		@include breakpoint(max-width 420px) {
			bottom: -170px;
		}

		@include breakpoint(max-width 320px) {
			bottom: -320px;
		}
	}
}