.cook-book {
	position: relative;
	height: auto;
	background-image: url(../img/bikon-yellow.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	
	.bikony-blue {
		width: 265px;
		height: 614px;
		top: -265px;
		position: absolute;
		background-image: url(../img/bikon-blue.png);

		@include breakpoint(max-width 992px) {
			display: none;
		}
	}

	.container,
	.container > .row {
		height: 100%;
		position: relative;
		z-index: 10;
	}

	.container {
		@include breakpoint(max-width 992px) {
			max-width: 960px;
		}

		@include breakpoint(max-width 768px) {
			max-width: 720px;
		}
	}
	
	.cook-book__title {
		h2 {
			margin: 70px 0; 
			font-family: 'Gilroy-Black';
			font-size: 34px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.cook-book__content {
		.cook-book__circle {
			position: absolute;
			top: -65px;
			right: 82%;
			width: 137px;
			height: 137px;
			background-image: url(../img/circle-small.png);
			z-index: -1;
		}

		.width350 {
			min-height: 500px;
			height: auto;
			
			@include breakpoint(min-width 501px) {
				min-width: 460px;
			}

			@include breakpoint(max-width 500px) {
				min-width: 90vw;
			}
		}

		.cook-book__block {
			position: relative;
			height: auto;
			padding: 30px 50px;
			margin-bottom: 70px;
			box-shadow: 0 0 20px rgba(125,125,125,0.5);
			background-color: white;
			z-index: 5;
			
			@include breakpoint(max-width 576px) {
				margin: 0 auto 70px;
				padding: 20px 30px;
			}

			h4 {
				margin-top: 5px;
				font-family: 'Gilroy-Extrabold';
				font-size: 15px;
			}

			p {
				font-family: 'Myriad';
				font-size: 15px;
				&:nth-child(2) {
					margin-bottom: 10px;
				}
			}


			.comments {
				margin-right: 15px;
				span.com {
					margin: 0 15px 0 5px;
				}
				span.eye {
					margin-left: 5px;
				}
				img:last-of-type {
					position: relative;
					bottom: 2px;
				}
			}

			.date,
			.comments a {
				font-family: 'Myriad';
				font-size: 13px;
				text-align: right;
				color: #272727;
			}
			
			

			.like {
				font-family: 'Myriad';
				font-size: 13px;
				a {
					color: #272727;
					span {
						position: relative;
						top: 2px;
					}
				}
			}

			hr {
				margin: 5px 0;
			}

			p.read-more {
				margin-bottom: 5px;
				a {
					text-decoration: underline;
					color: #fd9892;
					&:hover, &:active,&:focus {
						text-decoration: none;
					}
				}
			}

		}

		.video {
			hr:nth-of-type(1) {
				margin-bottom: 20px;
			}

			p.read-more {
				margin-top: 15px;
			}

			div.like a span {
				top: 1px;
			}

			div.comments img:last-of-type {
				bottom: 1px;
			}
		}

		.see-more {
			margin: 30px 0 80px;
			text-align: center;
			a {
				padding: 13px 30px 10px 30px;
				border: 1px solid #57c5a5;
				border-radius: 50px;
				background-color: #57c5a5;
				font-family: 'Gilroy-Bold';
				text-transform: uppercase;
				line-height: 22px;
				letter-spacing: 3px;
				color: #10141f;
				transition: all 200ms;
				&:hover, &:active, &:focus {
					background-color: transparent;
					transition: all 200ms;
				}
			}
		}
	}
}