.describe {
	height: auto;
	min-height: 647px;
	background-color: #f4f3f3;
	
	.row {
		@include breakpoint(max-width 1200px) {
			justify-content: center;
		}
	}

	.describe__circle {
		width: 207px;
		height: 207px;
		position: absolute;
		top: 52px;
		left: 20px;
		background-image: url(../img/circle.png);

		@include breakpoint(max-width 1200px) {
			top: 0px;
		}
	}
	
	.describe__text {
		position: relative;
		max-width: 470px;
		top: 130px;
		left: 100px;

		@include breakpoint(max-width 1200px) {
			top: 80px;
			left: 0;
		}

		@include breakpoint(max-width 768px) {
			max-width: 90vw;
		}

		h2 {
			font-family: 'Gilroy-Extrabold';
			font-size: 34px;
			line-height: 43px;
			text-transform: uppercase;
		}

		p {
			margin-bottom: 65px;
			font-family: 'Gilroy-Semibold';
			line-height: 30px;
		}

		a {
			padding: 16px 52px 14px 53px;
			font-family: 'Gilroy-Extrabold', sans-serif;
			text-transform: uppercase;
			letter-spacing: 3px;
			background-color: #55c2a2;
			border: 1px solid #55c2a2;
			border-radius: 50px;
			color: #30333d;
			transition: all 200ms ease-in-out;
			&:hover, &:active, &:focus {
				background-color: transparent;
				color: #55c2a2;
				transition: all 200ms ease-in-out;
			}
		}	
	}
	.describe__join {
		margin-top: 100px;
		
		.describe__room-bg {
			width: 600px;min-height: 100px;
			height: 383px;
			position: relative;
			left: 100px;
			background-image: url(../img/room.png);
			background-repeat: no-repeat;

			@include breakpoint(max-width 1200px) {
				margin-top: 2vw;
				left: 0;
			}

			@include breakpoint(max-width 650px) {
				width: 90vw;
				height: 350px;
				background-size: 90vw;
				background-position: center;
			}
		}
		
		p {
			position: relative;
			left: 100px;
			bottom: 30px;
			font-family: 'Gilroy-Thin', sans-serif;
			font-size: 88px;
			text-align: center;

			@include breakpoint(max-width 1200px) {
				left: 0;
			}

			@include breakpoint(max-width 650px) {
				font-size: 12vw;
			}
		}
	}

}