.software {
	height: 480px;
	background: url(../img/devices.png) 100% 30px no-repeat,
				url(../img/software-bg.png) bottom no-repeat;
	background-color: white;
	background-size: auto auto, 100vw 415px;

	@include breakpoint(max-width 1200px) {
		min-height: 410px;
		background-image: url(../img/software-bg.png);
		background-position: 0;
		background-size: cover;
	}

	.container, .row {
		height: 100%;
	}

	.software__text {
		margin-right: auto;

		@include breakpoint(max-width 1200px) {
			flex: 0 0 75%;
			max-width: 75%;
		}

		@include breakpoint(max-width 900px) {
			flex: 0 0 90vw;
			max-width: 90vw;
		}

		h2 {
			font-family: 'Gilroy-Extrabold', sans-serif;
			font-size: 32px;
			text-transform: uppercase;
			line-height: 38px;
		}
		
		p {
			width: 400px;
			margin: 30px 0 50px;
			font-family: 'Gilroy-Medium', sans-serif;
			font-size: 15px;
			line-height: 22px;

			@include breakpoint(max-width 1200px) {
				width: 80%;
			}

			@include breakpoint(max-width 900px) {
				width: 90vw;
			}
		}
		div {
			margin-left: 50px;

			@include breakpoint(max-width 900px) {
				margin: 0;
				
			}
			
			a {
				padding: 13px 30px 10px;
				border: 1px solid #57c5a5;
				border-radius: 50px;
				background-color: #57c5a5;
				font-family: 'Gilroy-Bold', sans-serif;
				text-transform: uppercase;
				line-height: 22px;
				letter-spacing: 3px;
				color: #10141f;
				white-space: nowrap;
				transition: all 200ms;
				&:hover, &:active, &:focus {
					background-color: transparent;
					transition: all 200ms;
				}

				@include breakpoint(max-width 400px) {
					padding: 13px 10px 10px;

				}
			}
		}
	}
}