html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #30333d;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

input {
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

::-webkit-input-placeholder {
    font-family: 'Gilroy-Medium';
    color: #fff;
}
::-moz-placeholder          {
    font-family: 'Gilroy-Medium';
    color: #fff;
}
:-moz-placeholder           {
    font-family: 'Gilroy-Medium';
    color: #fff;
}
:-ms-input-placeholder      {
    font-family: 'Gilroy-Medium';
    color: #fff;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}
:focus::-moz-placeholder {
    opacity: 0;
}
:focus:-moz-placeholder {
    opacity: 0;
}
:focus:-ms-input-placeholder {
    opacity: 0;
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}

.container {
    position: relative;
}